ul,
h1,
h2 {
    margin: 0;
}

h1, h2 {
    margin-bottom: 40px;
}

/*----------------Header----------------------*/
nav ul{
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

header {
    padding-top: 71px;
    padding-bottom: 256px;
}

#projects {
    padding-top: 181px;
}

/*----------------Main----------------------*/
body {
    text-align: center;
}

main {
    box-sizing: border-box;
    padding: 100px;
}

main p{
    text-align: left;
}

#aboutUs {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5vw;
}

#aboutUs h1, h2, button{
    grid-column-start: span 2;
}

.horizontalButton {
    border: none;
    border-radius: 18px;
    width: 150px;
    margin: auto; /*To center the button in the middle, left by default*/
}

/*----------------Stories----------------------*/

#stories {
    padding-top: 84px;
    padding-bottom: 90px;
}

#stories button {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: none;
}

/*----------------Footer----------------------*/

footer {
    box-sizing: border-box;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 10vw;
    padding-right: 10vw;

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

footer [title ="Address"]{
    grid-column-start: 3;
}

footer [title ="Mail"]{
    grid-column-start: 3;
    grid-row-start: 2;
}

footer [title ="Copyright"]{
    grid-column-start: span 2;
    grid-column-end: 8;
    grid-row-start: 2   ;
}